flask
requests
ollama
opentelemetry-sdk
opentelemetry-instrumentation-flask
opentelemetry-sdk-logs
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry.instrumentation
opentelemetry.instrumentation.flask